/* asignacion de espacio en la grid area */
@use "./var";
.seccionmenu{
    grid-area:seccionmenu;
}

/* mobile */
@media screen and (max-width:576px){
    .seccionmenu{
        display: none;
    }        
}

/* tablet */
@media screen and (min-width:577px) and (max-width:768px){
    .menuexpandible{
        display: none;
    }
    // .menuizquierdo{
    //     display: flex;
    //     flex-direction: column;
    //     height: 100%;
    // }
    .seccionmenu{
        padding: 2em 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: var.$sidebg;
        overflow: hidden;
            img{
            display:block;
            max-width: 70%;
            max-height: auto;
            border-radius: 40%;
            margin-bottom: 1em;
            margin: auto;
            &:active{
                transform: scale(.9);
            }
            }
            .listanavmenu{
            padding: 5px 1px ;
            display: flex;
            flex-direction: column;
            text-align: center;
                li{
                margin: 40px 0px;
                list-style: none;
                a{
                    color: var.$footer-font;
                    text-decoration: none;
}
}
}
}
}
/* desktop*/
@media screen and (min-width: 769px){
    .seccionmenu{
        display: none;
    }      
}






