$headbg:#CEB7B6;
$footerbg:#663F46;
$sidebg:#A54657;
$formbg:#D5CAD6;
$footer-font:#D8C2AC;
$hovercolor:rgb(249, 200, 200);
$fontshadow:rgba(131, 114, 114, 0.842);
$bordesmarrones:#56252E;
.titulo,h1,h2,a,p,h3{
    color: $sidebg;
}

.artquienessomos{
    h2{
    color:$hovercolor;;
}
}

